body {
    font-family:Arial;
    color:Black;
    font-size:14px;
}
hr {
    color:Black;
    background-color:Black;
    height:1px;
    border:0;
}
h1 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:26px;
}
h2 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:20px;
    white-space:nowrap;
}
span.section {
    font-weight:bold;
    cursor:pointer;
    margin-left:7px;
    font-size:16px;
    color:#003E69;
    white-space:nowrap;
}
span.new_signature {
    font-weight:bold;
    margin-left:28px;
    font-size:16px;
    color:#003E69;
}
span.new_signature_label {
    margin-left:28px;
    font-size:14px;
    color:Black;
}
span:hover.section {
    color:#336699;
}
span.section_affected {
    cursor:pointer;
    margin-left:7px;
    font-size:14px;
    color:#cc3300;
}
span.section_info {
    cursor:pointer;
    margin-left:7px;
    font-size:14px;
    color:Black;
}
span.extendable {
    font-weight:100;
    font-size:16px;
}
span.h_name {
    color:#cc3300;
    font-size:14px;
    font-weight:bold;
}
div.h_list {
    padding-left:10px;
    color:#333333;
    font-size:15px;
}
span.ns_title {
    margin-left:2px;
    color:#408080;
    font-size:13px;
}
span.ns {
    color:#408080;
    font-size:13px;
    font-weight:bold;
}
div.lib_list {
    padding-left:10px;
    color:#333333;
    font-size:15px;
}
span.lib_name {
    color:Green;
    font-size:14px;
    font-weight:bold;
}
span.iname {
    font-weight:bold;
    font-size:16px;
    color:#003E69;
    margin-left:7px;
}
span.iname_b {
    font-weight:bold;
    font-size:15px;
    color:#333333;
}
span.int_p {
    font-weight:normal;
    white-space:normal;
}
div.affect {
    padding-left:15px;
    padding-bottom:4px;
    font-size:14px;
    font-style:italic;
    line-height:13px;
}
div.affected {
    padding-left:30px;
    padding-top:5px;
}
table.problems_table {
    border-collapse:collapse;
    border:1px outset black;
    line-height:16px;
    margin-left:15px;
    margin-top:3px;
    margin-bottom:3px;
    width:900px;
}
table.problems_table td {
    border:1px solid Gray;
}
table.problems_table th {
    background-color:#eeeeee;
    color:#333333;
    font-weight:bold;
    font-size:13px;
    font-family:Verdana;
    border:1px solid Gray;
    text-align:center;
    vertical-align:top;
    white-space:nowrap;
}
table.virtual_table {
    border-collapse:collapse;
    border:1px outset black;
    line-height:16px;
    margin-left:30px;
    margin-top:3px;
    width:100px;
}
table.virtual_table td {
    border:1px solid Gray;
    white-space:nowrap;
    border:1px solid Gray;
}
table.virtual_table th {
    background-color:#eeeeee;
    color:#333333;
    font-weight:bold;
    font-size:13px;
    font-family:Verdana;
    border:1px solid Gray;
    text-align:center;
    vertical-align:top;
    white-space:nowrap;
}
td.vtable_red {
    background-color:#FFCCCC;
}
td.vtable_yellow {
    background-color:#FFFFCC;
}
table.summary {
    border-collapse:collapse;
    border:1px outset black;
}
table.summary th {
    background-color:#eeeeee;
    font-weight:100;
    text-align:left;
    font-size:15px;
    white-space:nowrap;
    border:1px inset gray;
}
table.summary td {
    padding-left:10px;
    padding-right:5px;
    text-align:right;
    font-size:16px;
    white-space:nowrap;
    border:1px inset gray;
}
table.code_view {
    cursor:text;
    margin-top:7px;
    width:50%;
    margin-left:20px;
    font-family:Consolas, Monaco, Monospace;
    font-size:14px;
    padding:10px;
    border:1px solid #e0e8e5;
    color:#444444;
    background-color:#eff3f2;
    overflow:auto;
}
table.code_view td {
    padding-left:15px;
    text-align:left;
    white-space:nowrap;
}
span.mangled {
    padding-left:15px;
    font-size:13px;
    cursor:text;
    color:#444444;
}
span.symver {
    color:#333333;
    font-size:14px;
    white-space:nowrap;
}
span.color_p {
    font-style:italic;
    color:Brown;
}
span.focus_p {
    font-style:italic;
    color:Red;
}
span.ttype {
    font-weight:100;
}
span.nowrap {
    white-space:nowrap;
}
span.value {
    white-space:nowrap;
    font-weight:bold;
}