body {
    font-family:Arial, sans-serif;
    color:Black;
    font-size:14px;
}
hr {
    color:Black;
    background-color:Black;
    height:1px;
    border:0;
}
h1 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:26px;
}
h2 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:20px;
    white-space:nowrap;
}
span.section {
    font-weight:bold;
    cursor:pointer;
    font-size:16px;
    color:#003E69;
    white-space:nowrap;
    margin-left:5px;
}
span.new_sign {
    font-weight:bold;
    margin-left:26px;
    font-size:16px;
    color:#003E69;
}
span.new_sign_lbl {
    margin-left:28px;
    font-size:14px;
    color:Black;
}
span:hover.section {
    color:#336699;
}
span.section_affected {
    cursor:pointer;
    margin-left:7px;
    padding-left:15px;
    font-size:14px;
    color:#cc3300;
}
span.section_info {
    cursor:pointer;
    margin-left:7px;
    padding-left:15px;
    font-size:14px;
    color:Black;
}
span.extendable {
    font-weight:100;
    font-size:16px;
}
span.h_name {
    color:#cc3300;
    font-size:14px;
    font-weight:bold;
}
div.h_list {
    font-size:15px;
    padding-left:5px;
}
span.ns {
    color:#408080;
    font-size:15px;
}
div.lib_list {
    font-size:15px;
    padding-left:5px;
}
span.lib_name {
    color:Green;
    font-size:14px;
    font-weight:bold;
}
span.iname {
    font-weight:bold;
    font-size:16px;
    color:#003E69;
    margin-left:5px;
}
span.iname_b {
    font-weight:bold;
    font-size:15px;
}
span.iname_a {
    color:#333333;
    font-weight:bold;
    font-size:15px;
}
span.sym_p {
    font-weight:normal;
    white-space:normal;
}
span.sym_kind {
    color:Black;
    font-weight:normal;
}
div.affect {
    padding-left:15px;
    padding-bottom:4px;
    font-size:14px;
    font-style:italic;
    line-height:13px;
}
div.affected {
    padding-left:30px;
    padding-top:5px;
}
table.ptable {
    border-collapse:collapse;
    border:1px outset black;
    line-height:16px;
    margin-left:15px;
    margin-top:3px;
    margin-bottom:3px;
    width:900px;
}
table.ptable td {
    border:1px solid gray;
    padding: 3px;
}
table.vtable {
    border-collapse:collapse;
    border:1px outset black;
    line-height:16px;
    margin-left:30px;
    margin-top:10px;
    width:100px;
}
table.vtable td {
    border:1px solid gray;
    white-space:nowrap;
    padding: 3px;
}
table.ptable th, table.vtable th {
    background-color:#eeeeee;
    font-weight:bold;
    color:#333333;
    font-family:Verdana, Arial;
    font-size:13px;
    border:1px solid gray;
    text-align:center;
    vertical-align:top;
    white-space:nowrap;
    padding: 3px;
}
table.summary {
    border-collapse:collapse;
    border:1px outset black;
}
table.summary th {
    background-color:#eeeeee;
    font-weight:100;
    text-align:left;
    font-size:15px;
    white-space:nowrap;
    border:1px inset gray;
    padding: 3px;
}
table.summary td {
    text-align:right;
    font-size:16px;
    white-space:nowrap;
    border:1px inset gray;
    padding: 3px 5px 3px 10px;
}
table.code_view {
    cursor:text;
    margin-top:7px;
    margin-left:15px;
    font-family:Monaco, Consolas, 'DejaVu Sans Mono', 'Droid Sans Mono', Monospace;
    font-size:14px;
    padding:10px;
    border:1px solid #e0e8e5;
    color:#444444;
    background-color:#eff3f2;
    overflow:auto;
}
table.code_view td {
    padding-left:15px;
    text-align:left;
    white-space:nowrap;
}
span.mangled {
    padding-left:15px;
    font-size:14px;
    cursor:text;
    color:#444444;
}
span.sym_ver {
    color:#333333;
    white-space:nowrap;
}
span.color_p {
    font-style:italic;
    color:Brown;
}
span.param {
    font-style:italic;
}
span.focus_p {
    font-style:italic;
    color:Red;
}
span.ttype {
    font-weight:100;
}
span.nowrap {
    white-space:nowrap;
}
span.value {
    white-space:nowrap;
    font-weight:bold;
}
td.passed {
    background-color:#CCFFCC;
}
td.warning {
    background-color:#F4F4AF;
}
td.failed {
    background-color:#FFCCCC;
}
td.new {
    background-color:#C6DEFF;
}