body {
    font-family:Arial, sans-serif;
    background-color:White;
    color:Black;
}
hr {
    color:Black;
    background-color:Black;
    height:1px;
    border:0;
}
h1 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.625em;
}
h2 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.25em;
    white-space:nowrap;
}
span.section {
    font-weight:bold;
    cursor:pointer;
    color:#003E69;
    white-space:nowrap;
    margin-left:5px;
}
span.new_sign {
    font-weight:bold;
    margin-left:26px;
    color:#003E69;
}
span.new_sign_lbl {
    margin-left:28px;
    font-size:0.875em;
    color:Black;
}
span:hover.section {
    color:#336699;
}
span.sect_aff {
    cursor:pointer;
    margin-left:7px;
    padding-left:15px;
    font-size:0.875em;
    color:#cc3300;
}
span.sect_info {
    cursor:pointer;
    margin-left:7px;
    padding-left:15px;
    font-size:0.875em;
    color:Black;
}
span.ext {
    font-weight:100;
}
span.h_name {
    color:#cc3300;
    font-size:0.875em;
    font-weight:bold;
}
div.h_list, div.lib_list {
    font-size:0.94em;
    padding-left:5px;
}
span.ns {
    color:#408080;
    font-size:0.94em;
}
span.lib_name {
    color:Green;
    font-size:0.875em;
    font-weight:bold;
}
span.iname {
    font-weight:bold;
    color:#003E69;
    margin-left:5px;
}
span.iname_b {
    font-weight:bold;
    font-size:1.1em;
}
span.iname_a {
    color:#333333;
    font-weight:bold;
    font-size:0.94em;
}
span.sym_p {
    font-weight:normal;
    white-space:normal;
}
div.affect {
    padding-left:15px;
    padding-bottom:10px;
    font-size:0.87em;
    font-style:italic;
    line-height:0.75em;
}
div.affected {
    padding-left:30px;
    padding-top:10px;
}
table.ptable {
    border-collapse:collapse;
    border:1px outset black;
    line-height:1em;
    margin-left:15px;
    margin-top:3px;
    margin-bottom:3px;
    width:900px;
    
}
table.ptable td {
    border:1px solid gray;
    padding: 3px;
    font-size:0.875em;
    text-align:left;
    vertical-align:top;
}
table.vtable {
    border-collapse:collapse;
    border:1px outset black;
    line-height:16px;
    margin-left:30px;
    margin-top:10px;
}
table.vtable td {
    border:1px solid gray;
    word-wrap:break-word;
    padding: 3px;
    font-size:0.875em;
    max-width:450px;
    vertical-align:top;
}
table.ptable th, table.vtable th {
    background-color:#eeeeee;
    font-weight:bold;
    color:#333333;
    font-family:Verdana, Arial;
    font-size:0.875em;
    border:1px solid gray;
    text-align:center;
    vertical-align:top;
    white-space:nowrap;
    padding: 3px;
}
table.summary {
    border-collapse:collapse;
    border:1px outset black;
}
table.summary th {
    background-color:#eeeeee;
    font-weight:100;
    text-align:left;
    font-size:0.94em;
    white-space:nowrap;
    border:1px inset gray;
    padding: 3px;
}
table.summary td {
    text-align:right;
    white-space:nowrap;
    border:1px inset gray;
    padding: 3px 5px 3px 10px;
}
span.mangled {
    padding-left:15px;
    font-size:0.875em;
    cursor:text;
    color:#444444;
}
span.sym_ver {
    color:#333333;
    white-space:nowrap;
    font-family:"DejaVu Sans Mono", Monospace;
}
span.attr {
    color:#333333;
    font-weight:100;
}
span.color_p {
    font-style:italic;
    color:Brown;
}
span.p {
    font-style:italic;
}
span.fp {
    font-style:italic;
    background-color:#DCDCDC;
}
span.ttype {
    font-weight:100;
}
span.nowrap {
    white-space:nowrap;
}
span.value {
    white-space:nowrap;
    font-weight:bold;
}
.passed {
    background-color:#CCFFCC;
    font-weight:100;
}
.warning {
    background-color:#F4F4AF;
    font-weight:100;
}
.failed {
    background-color:#FFCCCC;
    font-weight:100;
}
.new {
    background-color:#C6DEFF;
    font-weight:100;
}
.compatible {
    background-color:#CCFFCC;
    font-weight:100;
}
.almost_compatible {
    background-color:#FFDAA3;
    font-weight:100;
}
.incompatible {
    background-color:#FFCCCC;
    font-weight:100;
}
.gray {
    background-color:#DCDCDC;
    font-weight:100;
}
.top_ref {
    font-size:0.69em;
}
.footer {
    font-size:0.75em;
}
