.tabset {
    float:left;
}
a.tab {
    border:1px solid #AAA;
    float:left;
    margin:0px 5px -1px 0px;
    padding:3px 5px 3px 5px;
    position:relative;
    font-size:14px;
    background-color:#DDD;
    text-decoration:none;
    color:Black;
}
a.disabled:hover
{
    color:Black;
    background:#EEE;
}
a.active:hover
{
    color:Black;
    background:White;
}
a.active {
    border-bottom-color:White;
    background-color:White;
}
div.tab {
    border:1px solid #AAA;
    padding:0 7px 0 12px;
    width:97%;
    clear:both;
}